@media screen and (max-width:699px) {
    .main-section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loading-section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .cards-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:700px)and (max-width:1023px) {
    .main-section {
        width: 100%;
        height: 100%;
        position: relative;
        /* left: 276px; */
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loading-section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .cards-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:1024px) {
    .main-section {
        width: 100%;
        height: 100%;
        position: relative;
        /* left: 276px; */
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .loading-section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .cards-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}